<div class="row">
  <div class="col-md-4 center-align">
    <div class="panel panel-default">
      <div class="panel-body text-center">
        <h2>Sign up</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>
        <p>Yes, it's a little redundant here to ask for email and password when the user only has to provide it again during oauth. This is just an example :)</p>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true %>
          </div>

          <div class="field">
            <%= f.label :password %>
            <% if @minimum_password_length %><br />
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off" %>
          </div>

          <div class="field">
            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off" %>
          </div>

          <div class="actions vertical-spacing">
            <%= f.submit "Sign up", class: "btn btn-default" %>
          </div>
        <% end %>

      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
