<!DOCTYPE html>
<html>
<head>
  <title>Context.IO Sample App</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <h1>Context.IO Sample App</h1>
    <%= render "layouts/alerts" %>
    <%= render "layouts/nav" %>
    <%= yield %>
  </div>
</body>
</html>
